header {
    text-align: center;
    background: #AAA;
    margin: 0;
    padding: 10px 0px;
    width: 100%;

}

footer {
    text-align: center;
    background: lightblue;
    padding: 5px 0px;
}

nav {
    width: 100%;
    background: lightgreen;
    padding: 3px 0px;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    margin-left: 20px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}